html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: Helvetica;
    overflow: hidden;
}

#tree {
    width: 100%;
    height: 100%;
}

/*partial*/
.slider{
    position: fixed;
    z-index: 10000;
    bottom: 30px;
    right: 30px;
    background-color: #8CC8E4;
    padding: 7px;
    text-align: center;
    color: #333;
}
#slider{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

