html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Helvetica;
}


.clink-selected path{
    stroke: blue !important;
    marker-start: url(#dotSelected) !important;
    marker-end: url(#arrowSelected) !important;
}

.clink-selected text{
    fill: blue !important;
}
