html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: Helvetica;
    overflow: hidden;
}

#chart1,#chart3,#chart3 {
    width: 100%;
    height: 100%;
}
