html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Helvetica;
}

#tree {
    width: 100%;
    height: calc(100% - 45px);
}

nav{
    background-color: #2E2E2E;
    height: 35px;
    padding: 10px 0 0 10px;
}
nav a, nav span{
    color: white;
    font-size: 32px;
    text-decoration: none;
}

nav a:hover{            
    color: FFCA28;
}